body {
  width: 100%;
}

.sec1 {
  width: 100%;
  margin-top: 20px;
  margin-left: 64px;
}

.sec1 p {
  color: #5863e3;
  font-size: 17px;
  font-weight: 700;
}

.sec1 h1 {
  color: #000000;
  font-size: 49px;
  font-weight: 400;
  width: 371px;
}

.sec2 {
  /* display: flex; */
}

/* .box {
  max-width: 756px;
  width: 100%;
  height: 298px;
  border: 2px black;
} */

.description {
  max-width: 756px;
  width: 100%;
  margin-top: 57px;
  margin-left: 64px;
  height: 298px;
  color: #f8f8f8;
  border: 2px black;
}

.sec3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #5968f4;
  background-image: url(../image/Frame.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 51px;
  margin-bottom: 16px;
}

.logo h1 {
  color: #4e4d54;
  font-size: 20px;
  font-weight: 700;
}

.logo p {
  color: #99999a;
  font-size: 15px;
  font-weight: 700;
  margin-top: 8px;
}

.phone {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #5968f4;
  background-image: url(../image/Phone\ 2.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 51px;
  margin-bottom: 16px;
}

.location {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #5968f4;
  background-image: url(../image/location.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 51px;
  margin-bottom: 16px;
}
